
body {
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Tinos', sans-serif;
}

/* Background color */
.navbar {
    background-color: #333; 
}
.navbar-brand img {
    height: 100px; 
}
/* Styling of the navbar info*/
.navbar-nav .nav-link {
    color: white !important; 
    margin: 0 10px;
    font-size: 20px;
}
.history-section {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 50px 0;
    
}
.history-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}
/* Sets the images size and limite the size*/
.history-item img {
    width: 90%;
    height: auto;
    margin: 10px;
    max-width: 600px;
}
/*Menu section*/
.menu-section {
    text-align: center;
    background-color: #111;
    color: white;
    padding: 50px 0;
}

.nav-tabs .nav-link{
    color: white;
}

.nav-tabs .nav-link.active {
    background-color: #444;
    color: white;
}

.menu-content {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}
/*map settings*/
.map-container {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
    color: white;
}
.map-container iframe {
    width: 100%;
    max-width: 1000px;
    border: 0;
    height: 450px;
}
/* Social networs*/
#social-net {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-net i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #000;
    color: #fff;
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.footer-column h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-column p,
.footer-column a {
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column img {
    max-width: 100%;
    height: auto;
}

.highlight {
    color: red;
    font-size: 16px;
}

.highlight a {
    color: red;
    text-decoration: underline;
}